DATABASE_URL=
# uvicorn app.main:app --reload --host 0.0.0.0 --port 8000

# Model Paths
YOLO_MODEL_PATH=
PRODUCTION_MODEL_KEY=

SATUSEHAT_CLIENT_ID=
SATUSEHAT_CLIENT_SECRET=
SATUSEHAT_ORG_ID=

# Benchmarking
TEST_DATA_PATH=
YOLO_TEST_DATA_PATH=
BENCHMARK_SAMPLE_COUNT=
